

			body 
			{
				background-color: #4b1c2e;
				font-family: 'Roboto', sans-serif;
				font-family: 'Roboto Mono', monospace;
				text-align: center;
			}
		
			button
			{
				border: none;
				font-family: 'Roboto', sans-serif;
				font-family: 'Roboto Mono', monospace;
				border-radius: 5px;
				color: #4b1c2e;
				font-size: 1.2rem;
				padding: 10px 20px;
				background-color: #FFDD5C;
				margin-bottom: 20px;
				transition: background-color 0.3s ease;
			}
		
			button:hover 
			{
				background-color: #dd9f50;
			}
		
			a
			{
				color: inherit;
				text-decoration: none;
			}
		
			a:hover
			{
				text-decoration: underline;
			}
		
			h1
			{
				color: #FFDD5C;
				padding-bottom: 15px;
				padding-top: 50px;
				font-size: 40px;
			}
		
			h2
			{
				font-size: 30px;
				color: #FFDD5C;
			}
		
			p
			{
				color: #dd9f50;
			}
		
			.negrito
			{
				color: #FFDD5C;
				font-size: 18px;
			}
		
		